<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <connectionStrings>
    <add name="xxxxxxxxx" connectionString="data source=xxxxxxxxx; initial catalog=xxxxxxxxx; User Id=xxxxxxxxx; password=xxxxxxxxx;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="StringSetting" value="stringSample"/>
    <add key="IntSetting" value="1"/>
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <nlog xmlns="http://nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="version" value="0.0.0.0"/>
    <variable name="fileLayout" value="${longdate} | ${machinename} | ${processid} | ${processname} | ${var:version} | ${level} | ${message} | ${exception:format=Message,StackTrace} | ${stacktrace}"/>
    <targets>
      <target name="File" xsi:type="File" fileName="${basedir}/logs/Log ${shortdate}.txt" layout="${fileLayout}"/>
      <target xsi:type="Database" name="Database"
              dbUserName="xxxxxxxxx"
              dbProvider="System.Data.SqlClient"
              useTransactions="false"
              keepConnection="false"
              dbDatabase="xxxxxxxxx"
              dbPassword="xxxxxxxxx"
              dbHost="xxxxxxxxx">
        <commandText>
          insert into NLog ([CreateDate], [MachineName], [ProcessId], [ProcessName], [Version], [LogLevel], [Message], [Exception], [StackTrace])
          values (@createDate, @machineName, @processId, @processName, @version, @logLevel, @message, @exception, @stackTrace);
        </commandText>
        <parameter name="@createDate" layout="${date}"/>
        <parameter name="@machineName" layout="${machinename}"/>
        <parameter name="@processId" layout="${processid}"/>
        <parameter name="@processName" layout="${processname}"/>
        <parameter name="@version" layout="${var:version}"/>
        <parameter name="@logLevel" layout="${level}"/>
        <parameter name="@message" layout="${message}"/>
        <parameter name="@exception" layout="${exception:format=Message,StackTrace}"/>
        <parameter name="@stackTrace" layout="${stacktrace}"/>
      </target>
    </targets>
    <rules>
      <logger name="*" minLevel="Trace" appendTo="File"/>
      <logger name="*" minLevel="Trace" appendTo="Database"/>
    </rules>
  </nlog>

</configuration>