.todo-form {
    padding-top: 30px;
    padding-bottom: 30px;
}

.completed-todo {
    text-decoration: line-through;
}

.todo-element {
    height: 60px;
}

.update-todo {
    display: inline;
}

.action-todo-button {
    padding-left: 10px;
}

.update-todo-button {
    padding-top: 10px;
}