@{
    ViewBag.Title = "Todo List";
}

<h2>@ViewBag.Title</h2>
<div ng-controller="todoListController" class="row">
    <div custom-modal
         id="removeTodoModal"
         custom-modal-title="removeTodoModalTitle"
         custom-modal-message="removeTodoModalMessage"
         custom-modal-ok-button-label="removeTodoModalOkButtonLabel"
         custom-modal-cancel-button-label="removeTodoModalCancelButtonLabel"
         ok-function="removeTodo"
         role="dialog">
    </div>
    <div custom-modal
         id="clearCompletedTodosModal"
         custom-modal-title="clearCompletedTodosModalTitle"
         custom-modal-message="clearCompletedTodosModalMessage"
         custom-modal-ok-button-label="clearCompletedTodosModalOkButtonLabel"
         custom-modal-cancel-button-label="clearCompletedTodosModalCancelButtonLabel"
         ok-function="clearCompletedTodos"
         role="dialog">
    </div>
    <div>
        <label for="page-size-select">Nombre d'éléments par page : </label>
        <select id="page-size-select" class="form-control input-base" ng-model="itemsPerPage" ng-options="option for option in itemsPerPageOptions" ng-change="changeItemsPerPage()"></select>
    </div>
    <form class="todo-form" ng-submit="addTodo()">
        <input class="form-control" placeholder="Que devez-vous faire ?" ng-model="newTodo" />
    </form>
    <div ng-show="todos.length">
        <ul class="list-group">
            <li ng-repeat="todo in todos | startFrom: (currentPage - 1) * itemsPerPage | limitTo: itemsPerPage" class="list-group-item">
                <div class="checkbox checkbox-info">
                    <input id="checkbox{{$id}}" type="checkbox" ng-model="todo.isCompleted">
                    <label for="checkbox{{$id}}" ng-class="{'completed-todo': todo.isCompleted}">{{todo.title}}</label>
                    <span class="close glyphicon glyphicon-remove" ng-click="setRemoveTodo(todo)" data-toggle="modal" data-target="#removeTodoModal"></span>
                </div>
            </li>
        </ul>
        <button class="btn btn-info" ng-click="markAllTodos()">
            {{markAllSetting.label}}
        </button>
        <button class="btn btn-danger pull-right" ng-show="hasSomeCompletedTodo()" data-toggle="modal" data-target="#clearCompletedTodosModal">
            {{clearCompletedTodosLabel}}
        </button>
    </div>
    <div class="custom-pagination-wrapper">
        <div uib-pagination boundary-links="true"
             total-items="todos.length"
             ng-model="currentPage"
             items-per-page="itemsPerPage"
             class="pagination custom-pagination"
             previous-text="&lsaquo;"
             next-text="&rsaquo;"
             first-text="&laquo;"
             last-text="&raquo;">
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/todoList")
@Styles.Render("~/Content/css/todoList")