@{
    ViewBag.Title = "Load File";
}

<h2>@ViewBag.Title</h2>
<div ng-controller="loadFileController" class="row">
    
</div>
@Scripts.Render("~/bundles/loadFile")
@Styles.Render("~/Content/css/loadFile")