@{
    ViewBag.Title = "Load File";
}

<h2>@ViewBag.Title</h2>
<div ng-controller="loadFileController">
    <h3>Upload a file</h3>
    <div class="row">
        <div>
            <label for="upload-file-destination">Uploader le fichier vers : </label>
            <input id="upload-file-destination"class="form-control" ng-model="uploadFileDestination" />
        </div>
        <input id="uploadFile" name="uploadFile" type="file">
        <button class="btn btn-primary" ng-click="uploadFile()">
            Upload
        </button>
    </div>
</div>
@Scripts.Render("~/bundles/loadFile")
@Styles.Render("~/Content/css/loadFile")